{% if articles %}
    <div class="container position-relative">
        <h2 style="top: -1rem; right: 0;" class="d-table position-absolute bg-white px-4 h4"><a href="{% url 'article:category' category.slug %}">{{category.title}}</a></h2>
        <span style="top: -0.75rem; left: 0; font-size: 0.75rem" class="d-table position-absolute bg-white px-4"><a href="{% url 'article:category' category.slug %}">بیشتر</a></span>
        <div class="row border-top pt-4 mt-4">
            {% for article in articles %}
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="postbox mb-40">
                        <div class="postbox__thumb mb-25">
                            <a href="{% url 'article:post' article.slug %}">
                                <img src="{{article.image_category.url}}" alt="{{article.title}}">
                            </a>
                        </div>
                        <div class="postbox__text">
                            <div class="postbox__text-meta pb-20">
                                <ul>
                                    <li>
                                        <i class="fas fa-calendar-alt"></i>
                                        <span>{{article.publish}}</span>
                                    </li>
                                    <li>
                                        <i class="far fa-comment"></i>
                                        <span>(۴۱)</span>
                                    </li>
                                </ul>
                            </div>
                            <h4 class="title-18 font-600 pr-0">
                                <a href="{% url 'article:post' article.slug %}">{{article.title}}</a>
                            </h4>
                            <div class="desc-text mb-20">
                                <p>{{article.description}}</p>
                            </div>
                            <a href="{% url 'article:post' article.slug %}" class="read-more btn">بیشتر</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}