<ul>
    <li><a href="{% url 'article:home' %}">خانه</a></li>
    {% for category in categories %}
	    <li><a href="{% url 'article:category' category.slug %}">{{category.title}}</a></li>
	{% empty %}
		<li><a href="">هیچ دسته بندی یافت نشد.</a></li>
	{% endfor %}
    <li><a href="politic.html">فروم</a></li>
    <li><a href="politic.html">ویکی</a></li>
</ul>