{% extends 'article/base.html' %}

{% load news_area %}

{% block main %}

    <!-- news area -->
    <section class="news-area py-3"><!-- pt-60 -->
        <!-- trendy news -->
        {% news_area_last_3 'free-software' %}
        {% news_area_last_3 'gnu-linux' %}
        {% news_area_last_3 'podcast' %}
        <!-- trendy news end -->
    </section>
    <!-- news area end -->

    <!-- blog-lg-area start -->
    {% if events %}
    <div class="blog-lg-area pt-10">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="row">
                        <h2 class="container h4 px-0 pb-3"><a href="{% url 'article:category' 'events' %}">رویدادها</a></span></h2>
                        {% for event in events %}
                        <div class="col-xl-4 col-md-4">
                            <div class="post__features blog-no-border  mb-30">
                                <div class="post__features-thumb blog-opacity" data-overlay="dark-gradient">
                                    <a href="{% url 'article:post' event.slug %}">
                                        <img class="img-100" src="{{event.image_event.url}}" alt="{{event.title}}">
                                    </a>
                                </div>
                                <div class="post__features-content">
                                    <h4 class="title-24 font-600">
                                        <a href="{% url 'article:post' event.slug %}">{{event.title}}</a>
                                    </h4>
                                    <div class="postbox__text-meta red-meta">
                                        <ul>
                                            <li>
                                                <i class="fas fa-calendar-alt"></i>
                                                <span>{{event.publish}}</span>
                                            </li>
                                            <li>
                                                <i class="far fa-comment"></i>
                                                <span>(۴۱)</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- blog-lg-area end -->
{% endblock %}