{% extends 'article/base.html' %}

{% block main %}
	<section class="post-details-area pt-60 pb-30">
		<div class="container">
			<div class="row">
				<div class="col-xl-8 col-lg-8">
					 <!-- post-details -->
					<div class="post-details">
						<h2 class="details-title mb-15">{{article.title}}</h2>

						{% if article.type_article == 'post' %}
						<!-- meta -->
						<div class="postbox__text-meta pb-30">
							<ul>
								<li>
									<i class="far fa-user-circle"></i>
									<span>{{article.author_name}}</span>
								</li>
								<li>
									<i class="fas fa-calendar-alt"></i>
									<span>{{article.publish}}</span>
								</li>
								<li>
									<i class="far fa-comment"></i>
									<span>(۴۱)</span>
								</li>
							</ul>
						</div>
						{% endif %}

						 <!-- share-post-link -->
						<div class="share-post-link mb-30">
							<a class="facebook" href="#">
								<i class="fab fa-facebook-f"></i>
							</a>
							<a class="twitter" href="#">
								<i class="fab fa-twitter"></i>
							</a>
							<a class="instagram" href="#">
								<i class="fab fa-instagram"></i>
							</a>
							<a class="dribbble" href="#">
								<i class="fab fa-dribbble"></i>
							</a>
							<a class="pinterest" href="#">
								<i class="fab fa-pinterest-p"></i>
							</a>
							<a class="google-plus" href="#">
								<i class="fab fa-google-plus-g"></i>
							</a>
							<a class="pinterest" href="#">
								<i class="fab fa-pinterest-p"></i>
							</a>
						</div>

						{% if article.image %}
						 <!-- post-thumb -->
						<div class="post-thumb mb-25">
							<img src="{{article.image_main.url}}" alt="{{article.title}}">
						</div>
						{% endif %}

						<!-- post-content -->
						<div class="post-content">
							{{article.content|safe}}
						</div>

						<!-- content__tags -->
						<!-- <div class="content__tags mt-30">
							<span>Post Tags:</span>
							<span class="content__tags-list">
								<a href="#0">orci</a>
								<a href="#0">lectus</a>
								<a href="#0">varius</a>
								<a href="#0">turpis</a>
							</span>
						</div> -->
						{% if article.type_article == 'post' %}
						 <!-- author-meta -->
						<div class="author-meta  mt-60">
							<div class="media flex-column flex-md-row">
								<div class="media-left">
									<a href="#"><img src="assets/img/user/user-03.jpg" alt=""> </a>
								</div>
								<div class="media-body">
									<span class="media-heading">
										<a href="#">Richard</a>
									</span>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiu smod tempor ut laboredolore magna aliqua. Ut enim ad
										minim doing veniam, quis nostrud exerci tation ullamco laboris nisi. </p>
									<div class="social">
										<a href="https://www.facebook.com/" target="_blank">
											<i class="fab fa-facebook-f"></i>
										</a>
										<a href="https://twitter.com/" target="_blank">
											<i class="fab fa-twitter"></i>
										</a>
										<a href="https://plus.google.com/discover" target="_blank">
											<i class="fab fa-google-plus-g"></i>
										</a>
										<a href="https://www.instagram.com/" target="_blank">
											<i class="fab fa-linkedin-in"></i>
										</a>
									</div>
								</div>
							</div>
						</div>

						 <!-- post-comments -->
						<div class="post-comments mt-30">
							<div class="section-title mb-30">
								<h2>Recent Comments</h2>
							</div>
							<div class="latest-comments">
								<ul>
									<li>
										<div class="comments-box">
											<div class="comments-avatar">
												<img src="assets/img/user/user-01.jpg" alt="">
											</div>
											<div class="comments-text">
												<div class="avatar-name">
													<h5>Omar Elnagar</h5>
													<span>September 13, 2018 at 10:38 AM</span>
												</div>
												<p>They call him Flipper Flipper faster than lightning. No one you see is smarter than he. They call
													him Flipper Flipper the faster than lightning. No one you see is smarter than he</p>
												<a href="#"><i class="fas fa-reply-all"></i> Reply</a>
											</div>
										</div>
										<ul class="comments-reply">
											<li>
												<div class="comments-box">
													<div class="comments-avatar">
														<img src="assets/img/user/user-02.jpg" alt="">
													</div>
													<div class="comments-text">
														<div class="avatar-name">
															<h5>Omar Elnagar</h5>
															<span>September 13, 2018 at 10:38 AM</span>
														</div>
														<p>They call him Flipper Flipper faster than lightning. No one you see is smarter than he. They
															call him Flipper Flipper the faster than lightning. No one you see is smarter than he</p>
														<a href="#"><i class="fas fa-reply-all"></i> Reply</a>
													</div>
												</div>
											</li>
										</ul>
									</li>
									<li>
										<div class="comments-box">
											<div class="comments-avatar">
												<img src="assets/img/user/user-05.jpg" alt="">
											</div>
											<div class="comments-text">
												<div class="avatar-name">
													<h5>Omar Elnagar</h5>
													<span>September 13, 2018 at 10:38 AM</span>
												</div>
												<p>They call him Flipper Flipper faster than lightning. No one you see is smarter than he. They call
													him Flipper Flipper the faster than lightning. No one you see is smarter than he</p>
												<a href="#"><i class="fas fa-reply-all"></i> Reply</a>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>

						 <!-- post-comments-form -->
						<div class="post-comments-form mt-40 mb-40">
							<div class="section-title mb-30">
								<h2>Recent Comments</h2>
							</div>
							<form action="#">
								<div class="row">
									<div class="col-xl-6">
										<input type="text" placeholder="Your Name">
									</div>
									<div class="col-xl-6">
										<input type="text" placeholder="Your Email">
									</div>
									<div class="col-xl-12">
										<textarea name="comments" id="comments" cols="30" rows="10" placeholder="Your Comments"></textarea>
										<button class="btn brand-btn" type="submit">Send message</button>
									</div>
								</div>
							</form>
						</div>
						{% endif %}
					</div>
				</div>
				<div class="col-xl-4 col-lg-4">
					<div class="widget widget-border mb-40">
						<h3 class="widget-title">Popular posts</h3>
						<div class="post__small mb-30">
							<div class="post__small-thumb f-left">
								<a href="#">
									<img src="assets/img/trendy/xs/xs-1.jpg" alt="hero image">
								</a>
							</div>
							<div class="post__small-text fix pl-10">
								<span class="sm-cat">
									<a href="#">Fashion</a>
								</span>
								<h4 class="title-13 pr-0">
									<a href="#">Husar asks expenses authority to entitlements after Bruno</a>
								</h4>
								<div class="post__small-text-meta">
									<ul>
										<li>
											<i class="fas fa-calendar-alt"></i>
											<span>01 Sep 2018</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="post__small mb-30">
							<div class="post__small-thumb f-left">
								<a href="#">
									<img src="assets/img/trendy/xs/xs-2.jpg" alt="hero image">
								</a>
							</div>
							<div class="post__small-text fix pl-10">
								<span class="sm-cat">
									<a href="#">Fashion</a>
								</span>
								<h4 class="title-13 pr-0">
									<a href="#">Researchers claim majo throug in the fight to cure fibrosis</a>
								</h4>
								<div class="post__small-text-meta">
									<ul>
										<li>
											<i class="fas fa-calendar-alt"></i>
											<span>01 Sep 2018</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="post__small mb-30">
							<div class="post__small-thumb f-left">
								<a href="#">
									<img src="assets/img/trendy/xs/xs-3.jpg" alt="hero image">
								</a>
							</div>
							<div class="post__small-text fix pl-10">
								<span class="sm-cat">
									<a href="#">Fashion</a>
								</span>
								<h4 class="title-13 pr-0">
									<a href="#">Nahan downplays Liberal lership tensions after white ant</a>
								</h4>
								<div class="post__small-text-meta">
									<ul>
										<li>
											<i class="fas fa-calendar-alt"></i>
											<span>01 Sep 2018</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="post__small">
							<div class="post__small-thumb f-left">
								<a href="#">
									<img src="assets/img/trendy/xs/xs-4.jpg" alt="hero image">
								</a>
							</div>
							<div class="post__small-text fix pl-10">
								<span class="sm-cat">
									<a href="#">Travel</a>
								</span>
								<h4 class="title-13 pr-0">
									<a href="#">Farmers plead for bullets to put down emaciated stock</a>
								</h4>
								<div class="post__small-text-meta">
									<ul>
										<li>
											<i class="fas fa-calendar-alt"></i>
											<span>01 Sep 2018</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="widget widget-border mb-40">
						<h3 class="widget-title">Categories</h3>
						<ul>
							<li><a href="#">Business</a></li>
							<li><a href="#">Politic</a></li>
							<li><a href="#">Fashion</a></li>
							<li><a href="#">Corporate</a></li>
							<li><a href="#">Football</a></li>
							<li><a href="#">Magazine</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}