/*-----------------------------------------------------------------------------------

    Template Name: BunGee - Blog, News & Magazine HTML5 Template
    Description: BunGee - Blog, News & Magazine HTML5 Template
    Author: bangladevs
    Version: 1.0

-----------------------------------------------------------------------------------

    CSS INDEX
    ===================

    1. Theme default css
	  2. Overlay
    3. Header
    4. Hero
    5. News
    6. Breadcrumb
    7. Post details
    8. Portfolio area
    9. Contact area
    10. Footer

-----------------------------------------------------------------------------------*/
@font-face {
  font-family: "sahel";
  src: url("../fonts/sahel/Sahel.eot");
  src: 
    url("../fonts/sahel/Sahel.woff2") format("woff2"),
    url("../fonts/sahel/Sahel.woff") format("woff"),
    url("../fonts/sahel/Sahel.ttf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "sahel";
  src: url("../fonts/sahel/Sahel-Bold.eot");
  src: 
    url("../fonts/sahel/Sahel-Bold.woff2") format("woff2"),
    url("../fonts/sahel/Sahel-Bold.woff") format("woff"),
    url("../fonts/sahel/Sahel-Bold.ttf") format("opentype");
  font-weight: bold;
}

code {
    text-align: left;
    direction: ltr;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .container {
    max-width: 1250px; } }

/* 1. Theme default css */
body {
  text-align: right;
  direction: rtl;
  font-family: "sahel", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #666666; }

.img, img {
  max-width: 100%;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }

.f-left {
  float: left; }

.f-right {
  float: right; }

.fix {
  overflow: hidden; }

a,
.button {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }

button {
  cursor: pointer; }

a:focus,
.button:focus {
  text-decoration: none;
  outline: none; }

a:focus,
a:hover {
  color: inherit;
  text-decoration: none; }

a,
button {
  color: inherit;
  outline: medium none; }

button:focus, input:focus, input:focus, textarea, textarea:focus {
  outline: 0; }

.uppercase {
  text-transform: uppercase; }

.capitalize {
  text-transform: capitalize; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: #212428;
  margin-top: 0px;
  font-style: normal;
  font-weight: 400;
  text-transform: normal;
  line-height: 1.4; }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit; }

h1 {
  font-size: 40px;
  font-weight: 500; }

h2 {
  font-size: 35px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

ul {
  margin: 0px;
  padding: 0px; }

li {
  list-style: none; }

p {
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  color: #666666;
  margin-bottom: 15px; }

hr {
  border-bottom: 1px solid #eceff8;
  border-top: 0 none;
  margin: 30px 0;
  padding: 0; }

label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400; }

*::-moz-selection {
  background: #1c1c21;
  color: #ffffff;
  text-shadow: none; }

::-moz-selection {
  background: #1c1c21;
  color: #ffffff;
  text-shadow: none; }

::selection {
  background: #1c1c21;
  color: #ffffff;
  text-shadow: none; }

/*--
    - Input Placeholder
-----------------------------------------*/
*::-moz-placeholder {
  color: #1c1c21;
  font-size: 14px;
  opacity: 1; }

*::placeholder {
  color: #1c1c21;
  font-size: 14px;
  opacity: 1; }

/*--
    - Common Classes
-----------------------------------------*/
.fix {
  overflow: hidden; }

.clear {
  clear: both; }

.pos-relative {
  position: relative; }

/*--
    - Background color
-----------------------------------------*/
.grey-bg {
  background: #f7f7fd; }

.white-bg {
  background: #ffffff; }

.black-bg {
  background: #1c1c21; }

.theme-bg {
  background: /*#f70d28*/#9a36c7; }

.header-menu-bg {
  /*background: #cc2121; }*/
  background: #642184; }

.header-top-bg {
  /*background: #dd3333; }*/
  background: #742897; }

/*--
    - color
-----------------------------------------*/
.white-color {
  color: #ffffff; }

.black-color {
  color: #1c1c21; }

.theme-color {
  color: /*#f70d28*/#9a36c7; }

/*--
    - Custom Row
-----------------------------------------*/
.row-10 {
  margin-left: -10px;
  margin-right: -10px; }
  .row-10 > [class*="col"] {
    padding-left: 10px;
    padding-right: 10px; }

/*--
    - Margin & Padding
-----------------------------------------*/
/*-- Margin Top --*/
.mt-5 {
  margin-top: 5px; }

.mt-10 {
  margin-top: 10px; }

.mt-15 {
  margin-top: 15px; }

.mt-20 {
  margin-top: 20px; }

.mt-25 {
  margin-top: 25px; }

.mt-30 {
  margin-top: 30px; }

.mt-35 {
  margin-top: 35px; }

.mt-40 {
  margin-top: 40px; }

.mt-45 {
  margin-top: 45px; }

.mt-50 {
  margin-top: 50px; }

.mt-55 {
  margin-top: 55px; }

.mt-60 {
  margin-top: 60px; }

.mt-65 {
  margin-top: 65px; }

.mt-70 {
  margin-top: 70px; }

.mt-75 {
  margin-top: 75px; }

.mt-80 {
  margin-top: 80px; }

.mt-85 {
  margin-top: 85px; }

.mt-90 {
  margin-top: 90px; }

.mt-95 {
  margin-top: 95px; }

.mt-100 {
  margin-top: 100px; }

.mt-105 {
  margin-top: 105px; }

.mt-110 {
  margin-top: 110px; }

.mt-115 {
  margin-top: 115px; }

.mt-120 {
  margin-top: 120px; }

.mt-125 {
  margin-top: 125px; }

.mt-130 {
  margin-top: 130px; }

.mt-135 {
  margin-top: 135px; }

.mt-140 {
  margin-top: 140px; }

.mt-145 {
  margin-top: 145px; }

.mt-150 {
  margin-top: 150px; }

.mt-155 {
  margin-top: 155px; }

.mt-160 {
  margin-top: 160px; }

.mt-165 {
  margin-top: 165px; }

.mt-170 {
  margin-top: 170px; }

.mt-175 {
  margin-top: 175px; }

.mt-180 {
  margin-top: 180px; }

.mt-185 {
  margin-top: 185px; }

.mt-190 {
  margin-top: 190px; }

.mt-195 {
  margin-top: 195px; }

.mt-200 {
  margin-top: 200px; }

.mt-17 {
  margin-top: 17px; }

/*-- Margin Bottom --*/
.mb-5 {
  margin-bottom: 5px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-15 {
  margin-bottom: 15px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-25 {
  margin-bottom: 25px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-35 {
  margin-bottom: 35px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-45 {
  margin-bottom: 45px; }

.mb-50 {
  margin-bottom: 50px; }

.mb-55 {
  margin-bottom: 55px; }

.mb-60 {
  margin-bottom: 60px; }

.mb-65 {
  margin-bottom: 65px; }

.mb-70 {
  margin-bottom: 70px; }

.mb-75 {
  margin-bottom: 75px; }

.mb-80 {
  margin-bottom: 80px; }

.mb-85 {
  margin-bottom: 85px; }

.mb-90 {
  margin-bottom: 90px; }

.mb-95 {
  margin-bottom: 95px; }

.mb-100 {
  margin-bottom: 100px; }

.mb-105 {
  margin-bottom: 105px; }

.mb-110 {
  margin-bottom: 110px; }

.mb-115 {
  margin-bottom: 115px; }

.mb-120 {
  margin-bottom: 120px; }

.mb-125 {
  margin-bottom: 125px; }

.mb-130 {
  margin-bottom: 130px; }

.mb-135 {
  margin-bottom: 135px; }

.mb-140 {
  margin-bottom: 140px; }

.mb-145 {
  margin-bottom: 145px; }

.mb-150 {
  margin-bottom: 150px; }

.mb-155 {
  margin-bottom: 155px; }

.mb-160 {
  margin-bottom: 160px; }

.mb-165 {
  margin-bottom: 165px; }

.mb-170 {
  margin-bottom: 170px; }

.mb-175 {
  margin-bottom: 175px; }

.mb-180 {
  margin-bottom: 180px; }

.mb-185 {
  margin-bottom: 185px; }

.mb-190 {
  margin-bottom: 190px; }

.mb-195 {
  margin-bottom: 195px; }

.mb-200 {
  margin-bottom: 200px; }

/*-- Margin Left --*/
.ml-5 {
  margin-left: 5px; }

.ml-10 {
  margin-left: 10px; }

.ml-15 {
  margin-left: 15px; }

.ml-20 {
  margin-left: 20px; }

.ml-25 {
  margin-left: 25px; }

.ml-30 {
  margin-left: 30px; }

.ml-35 {
  margin-left: 35px; }

.ml-40 {
  margin-left: 40px; }

.ml-45 {
  margin-left: 45px; }

.ml-50 {
  margin-left: 50px; }

.ml-55 {
  margin-left: 55px; }

.ml-60 {
  margin-left: 60px; }

.ml-65 {
  margin-left: 65px; }

.ml-70 {
  margin-left: 70px; }

.ml-75 {
  margin-left: 75px; }

.ml-80 {
  margin-left: 80px; }

.ml-85 {
  margin-left: 85px; }

.ml-90 {
  margin-left: 90px; }

.ml-95 {
  margin-left: 95px; }

.ml-100 {
  margin-left: 100px; }

.ml-105 {
  margin-left: 105px; }

.ml-110 {
  margin-left: 110px; }

.ml-115 {
  margin-left: 115px; }

.ml-120 {
  margin-left: 120px; }

.ml-125 {
  margin-left: 125px; }

.ml-130 {
  margin-left: 130px; }

.ml-135 {
  margin-left: 135px; }

.ml-140 {
  margin-left: 140px; }

.ml-145 {
  margin-left: 145px; }

.ml-150 {
  margin-left: 150px; }

.ml-155 {
  margin-left: 155px; }

.ml-160 {
  margin-left: 160px; }

.ml-165 {
  margin-left: 165px; }

.ml-170 {
  margin-left: 170px; }

.ml-175 {
  margin-left: 175px; }

.ml-180 {
  margin-left: 180px; }

.ml-185 {
  margin-left: 185px; }

.ml-190 {
  margin-left: 190px; }

.ml-195 {
  margin-left: 195px; }

.ml-200 {
  margin-left: 200px; }

/*-- Margin Right --*/
.mr-5 {
  margin-right: 5px; }

.mr-10 {
  margin-right: 10px; }

.mr-15 {
  margin-right: 15px; }

.mr-20 {
  margin-right: 20px; }

.mr-25 {
  margin-right: 25px; }

.mr-30 {
  margin-right: 30px; }

.mr-35 {
  margin-right: 35px; }

.mr-40 {
  margin-right: 40px; }

.mr-45 {
  margin-right: 45px; }

.mr-50 {
  margin-right: 50px; }

.mr-55 {
  margin-right: 55px; }

.mr-60 {
  margin-right: 60px; }

.mr-65 {
  margin-right: 65px; }

.mr-70 {
  margin-right: 70px; }

.mr-75 {
  margin-right: 75px; }

.mr-80 {
  margin-right: 80px; }

.mr-85 {
  margin-right: 85px; }

.mr-90 {
  margin-right: 90px; }

.mr-95 {
  margin-right: 95px; }

.mr-100 {
  margin-right: 100px; }

.mr-105 {
  margin-right: 105px; }

.mr-110 {
  margin-right: 110px; }

.mr-115 {
  margin-right: 115px; }

.mr-120 {
  margin-right: 120px; }

.mr-125 {
  margin-right: 125px; }

.mr-130 {
  margin-right: 130px; }

.mr-135 {
  margin-right: 135px; }

.mr-140 {
  margin-right: 140px; }

.mr-145 {
  margin-right: 145px; }

.mr-150 {
  margin-right: 150px; }

.mr-155 {
  margin-right: 155px; }

.mr-160 {
  margin-right: 160px; }

.mr-165 {
  margin-right: 165px; }

.mr-170 {
  margin-right: 170px; }

.mr-175 {
  margin-right: 175px; }

.mr-180 {
  margin-right: 180px; }

.mr-185 {
  margin-right: 185px; }

.mr-190 {
  margin-right: 190px; }

.mr-195 {
  margin-right: 195px; }

.mr-200 {
  margin-right: 200px; }

/*-- Padding Top --*/
.pt-5 {
  padding-top: 5px; }

.pt-10 {
  padding-top: 10px; }

.pt-15 {
  padding-top: 15px; }

.pt-20 {
  padding-top: 20px; }

.pt-25 {
  padding-top: 25px; }

.pt-30 {
  padding-top: 30px; }

.pt-35 {
  padding-top: 35px; }

.pt-40 {
  padding-top: 40px; }

.pt-45 {
  padding-top: 45px; }

.pt-50 {
  padding-top: 50px; }

.pt-55 {
  padding-top: 55px; }

.pt-60 {
  padding-top: 60px; }

.pt-65 {
  padding-top: 65px; }

.pt-70 {
  padding-top: 70px; }

.pt-75 {
  padding-top: 75px; }

.pt-80 {
  padding-top: 80px; }

.pt-85 {
  padding-top: 85px; }

.pt-90 {
  padding-top: 90px; }

.pt-95 {
  padding-top: 95px; }

.pt-100 {
  padding-top: 100px; }

.pt-105 {
  padding-top: 105px; }

.pt-110 {
  padding-top: 110px; }

.pt-115 {
  padding-top: 115px; }

.pt-120 {
  padding-top: 120px; }

.pt-125 {
  padding-top: 125px; }

.pt-130 {
  padding-top: 130px; }

.pt-135 {
  padding-top: 135px; }

.pt-140 {
  padding-top: 140px; }

.pt-145 {
  padding-top: 145px; }

.pt-150 {
  padding-top: 150px; }

.pt-155 {
  padding-top: 155px; }

.pt-160 {
  padding-top: 160px; }

.pt-165 {
  padding-top: 165px; }

.pt-170 {
  padding-top: 170px; }

.pt-175 {
  padding-top: 175px; }

.pt-180 {
  padding-top: 180px; }

.pt-185 {
  padding-top: 185px; }

.pt-190 {
  padding-top: 190px; }

.pt-195 {
  padding-top: 195px; }

.pt-200 {
  padding-top: 200px; }

.pt-300 {
  padding-top: 300px; }

/*-- Padding Bottom --*/
.pb-5 {
  padding-bottom: 5px; }

.pb-10 {
  padding-bottom: 10px; }

.pb-15 {
  padding-bottom: 15px; }

.pb-20 {
  padding-bottom: 20px; }

.pb-25 {
  padding-bottom: 25px; }

.pb-30 {
  padding-bottom: 30px; }

.pb-35 {
  padding-bottom: 35px; }

.pb-40 {
  padding-bottom: 40px; }

.pb-45 {
  padding-bottom: 45px; }

.pb-50 {
  padding-bottom: 50px; }

.pb-55 {
  padding-bottom: 55px; }

.pb-60 {
  padding-bottom: 60px; }

.pb-65 {
  padding-bottom: 65px; }

.pb-70 {
  padding-bottom: 70px; }

.pb-75 {
  padding-bottom: 75px; }

.pb-80 {
  padding-bottom: 80px; }

.pb-85 {
  padding-bottom: 85px; }

.pb-90 {
  padding-bottom: 90px; }

.pb-95 {
  padding-bottom: 95px; }

.pb-100 {
  padding-bottom: 100px; }

.pb-105 {
  padding-bottom: 105px; }

.pb-110 {
  padding-bottom: 110px; }

.pb-115 {
  padding-bottom: 115px; }

.pb-120 {
  padding-bottom: 120px; }

.pb-125 {
  padding-bottom: 125px; }

.pb-130 {
  padding-bottom: 130px; }

.pb-135 {
  padding-bottom: 135px; }

.pb-140 {
  padding-bottom: 140px; }

.pb-145 {
  padding-bottom: 145px; }

.pb-150 {
  padding-bottom: 150px; }

.pb-155 {
  padding-bottom: 155px; }

.pb-160 {
  padding-bottom: 160px; }

.pb-165 {
  padding-bottom: 165px; }

.pb-170 {
  padding-bottom: 170px; }

.pb-175 {
  padding-bottom: 175px; }

.pb-180 {
  padding-bottom: 180px; }

.pb-185 {
  padding-bottom: 185px; }

.pb-190 {
  padding-bottom: 190px; }

.pb-195 {
  padding-bottom: 195px; }

.pb-200 {
  padding-bottom: 200px; }

/*-- Padding Left --*/
.pl-5 {
  padding-left: 5px; }

.pl-10 {
  padding-left: 10px; }

.pl-15 {
  padding-left: 15px; }

.pl-20 {
  padding-left: 20px; }

.pl-25 {
  padding-left: 25px; }

.pl-30 {
  padding-left: 30px; }

.pl-35 {
  padding-left: 35px; }

.pl-40 {
  padding-left: 40px; }

.pl-45 {
  padding-left: 45px; }

.pl-50 {
  padding-left: 50px; }

.pl-55 {
  padding-left: 55px; }

.pl-60 {
  padding-left: 60px; }

.pl-65 {
  padding-left: 65px; }

.pl-70 {
  padding-left: 70px; }

.pl-75 {
  padding-left: 75px; }

.pl-80 {
  padding-left: 80px; }

.pl-85 {
  padding-left: 85px; }

.pl-90 {
  padding-left: 90px; }

.pl-95 {
  padding-left: 95px; }

.pl-100 {
  padding-left: 100px; }

.pl-105 {
  padding-left: 105px; }

.pl-110 {
  padding-left: 110px; }

.pl-115 {
  padding-left: 115px; }

.pl-120 {
  padding-left: 120px; }

.pl-125 {
  padding-left: 125px; }

.pl-130 {
  padding-left: 130px; }

.pl-135 {
  padding-left: 135px; }

.pl-140 {
  padding-left: 140px; }

.pl-145 {
  padding-left: 145px; }

.pl-150 {
  padding-left: 150px; }

.pl-155 {
  padding-left: 155px; }

.pl-160 {
  padding-left: 160px; }

.pl-165 {
  padding-left: 165px; }

.pl-170 {
  padding-left: 170px; }

.pl-175 {
  padding-left: 175px; }

.pl-180 {
  padding-left: 180px; }

.pl-185 {
  padding-left: 185px; }

.pl-190 {
  padding-left: 190px; }

.pl-195 {
  padding-left: 195px; }

.pl-200 {
  padding-left: 200px; }

/*-- Padding Right --*/
.pr-5 {
  padding-right: 5px; }

.pr-10 {
  padding-right: 10px; }

.pr-15 {
  padding-right: 15px; }

.pr-20 {
  padding-right: 20px; }

.pr-25 {
  padding-right: 25px; }

.pr-30 {
  padding-right: 30px; }

.pr-35 {
  padding-right: 35px; }

.pr-40 {
  padding-right: 40px; }

.pr-45 {
  padding-right: 45px; }

.pr-50 {
  padding-right: 50px; }

.pr-55 {
  padding-right: 55px; }

.pr-60 {
  padding-right: 60px; }

.pr-65 {
  padding-right: 65px; }

.pr-70 {
  padding-right: 70px; }

.pr-75 {
  padding-right: 75px; }

.pr-80 {
  padding-right: 80px; }

.pr-85 {
  padding-right: 85px; }

.pr-90 {
  padding-right: 90px; }

.pr-95 {
  padding-right: 95px; }

.pr-100 {
  padding-right: 100px; }

.pr-105 {
  padding-right: 105px; }

.pr-110 {
  padding-right: 110px; }

.pr-115 {
  padding-right: 115px; }

.pr-120 {
  padding-right: 120px; }

.pr-125 {
  padding-right: 125px; }

.pr-130 {
  padding-right: 130px; }

.pr-135 {
  padding-right: 135px; }

.pr-140 {
  padding-right: 140px; }

.pr-145 {
  padding-right: 145px; }

.pr-150 {
  padding-right: 150px; }

.pr-155 {
  padding-right: 155px; }

.pr-160 {
  padding-right: 160px; }

.pr-165 {
  padding-right: 165px; }

.pr-170 {
  padding-right: 170px; }

.pr-175 {
  padding-right: 175px; }

.pr-180 {
  padding-right: 180px; }

.pr-185 {
  padding-right: 185px; }

.pr-190 {
  padding-right: 190px; }

.pr-195 {
  padding-right: 195px; }

.pr-200 {
  padding-right: 200px; }

.img-100 {
  width: 100%; }

.btn {
  background: #9a36c7;;
  padding: 15px 50px;
  line-height: 1;
  border-radius: 0;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px; }
  .btn:hover {
    background: /*#f70d28*/#642184;
    color: #fff !important; }
  .btn-border {
    background: transparent;
    border: 1px solid #1c1c21;
    color: #1c1c21; }
    .btn-border:hover {
      background: #1c1c21;
      color: #ffffff;
      border-color: #1c1c21; }
  .btn-soft {
    border-color: #e9e9e9;
    padding: 14px 30px;
    color: #333333;
    background: transparent;
    font-weight: 600; }
    .btn-soft:hover {
      background: #1c1c21;
      color: #ffffff;
      border-color: #1c1c21; }

#scrollUp {
  background: #1c1c21;
  height: 50px;
  width: 50px;
  position: absolute;
  right: 60px;
  bottom: 60px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  line-height: 47px; }
  #scrollUp:hover {
    background: /*#f70d28*/#9a36c7; }
  @media (max-width: 767px) {
    #scrollUp {
      right: 30px;
      bottom: 20px; } }

.col-20 {
  width: 20%; }
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .col-20 {
      width: 25%; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .col-20 {
      width: 30%; } }
  @media (max-width: 767px) {
    .col-20 {
      width: 100%; } }

.col-40 {
  width: 40%; }
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .col-40 {
      width: 50%; } }
  @media (max-width: 767px) {
    .col-40 {
      width: 100%; } }

.section-title h2 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  line-height: 1;
  padding-right: 10px; }
  .section-title h2::before {
    background: /*#f70d28*/#9a36c7;
    height: 25px;
    width: 3px;
    content: "";
    position: absolute;
    top: 0;
    right: 0; }

.section-title-2 h2 {
  background: /*#f70d28*/#9a36c7;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  color: #fff;
  padding: 10px 30px;
  border-radius: 2px;
  margin: 0; }

.gallery-active.owl-carousel .owl-nav div {
  background: #ffffff;
  height: 35px;
  left: 20px;
  line-height: 36px;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease 0s;
  visibility: hidden;
  width: 35px; }

.gallery-active.owl-carousel .owl-nav div.owl-next {
  left: auto;
  right: 20px; }

.gallery-active.owl-carousel:hover .owl-nav div {
  opacity: 1;
  visibility: visible; }

.gallery-active.owl-carousel .owl-nav div:hover {
  background: #1c1c21;
  color: #ffffff; }

.app-text h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.1; }
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .app-text h2 {
      margin-bottom: 20px; } }

.app-store a {
  margin-left: 10px;
  display: inline-block; }
  @media (max-width: 767px) {
    .app-store a {
      margin: 0;
      margin-left: 5px;
      margin-right: 5px;
      margin-bottom: 5px; } }

.instagram-item i {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  color: #ffffff;
  font-size: 35px;
  opacity: 0;
  z-index: 9;
  transition: .3s;
  transform: translateY(-50%); }

.instagram-item:hover i {
  opacity: 1; }

.instagram-item a:before {
  position: absolute;
  background: #1c1c21;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: .3s;
  opacity: 0; }

.instagram-item:hover a:before {
  opacity: .7; }

/* 13. pagination */
.pagination {
  display: block;
  margin: 0;
  overflow: hidden;
  border-radius: 0;
  padding-bottom: 3px; }
  .pagination ul {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    list-style: none;
    padding: 0;
    margin: 0; }
    .pagination ul li {
      display: inline-block;
      margin-right: 2px;
      margin-bottom: 10px; }
      .pagination ul li a, .pagination ul li span {
        float: none;
        background: #F7F7FD;
        font-size: 14px;
        color: #3b3b3b;
        font-weight: 700;
        display: inline-block;
        padding: 9px 18px;
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.07); }

.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
  color: /*#f70d28*/#9a36c7; }

.page-title-bar h1 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .page-title-bar h1 {
      font-size: 35px; } }
  @media (max-width: 767px) {
    .page-title-bar h1 {
      font-size: 32px; } }

/* 2. Overlay */
[data-overlay] {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  [data-overlay]::before {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    content: ""; }

/*-- Overlay Color --*/
[data-overlay="light"]::before {
  background-color: #ffffff; }

[data-overlay="dark"]::before {
  background-color: #1c1c21; }

[data-overlay="dark-gradient"]::before {
  background-image: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.904) 100%);
  background-image: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.904) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.904) 100%); }

/*-- Overlay Opacity --*/
[data-opacity="1"]::before {
  opacity: 0.1; }

[data-opacity="2"]::before {
  opacity: 0.2; }

[data-opacity="3"]::before {
  opacity: 0.3; }

[data-opacity="4"]::before {
  opacity: 0.4; }

[data-opacity="5"]::before {
  opacity: 0.5; }

[data-opacity="6"]::before {
  opacity: 0.6; }

[data-opacity="7"]::before {
  opacity: 0.7; }

[data-opacity="8"]::before {
  opacity: 0.8; }

[data-opacity="9"]::before {
  opacity: 0.9; }

/* 3. Header */
@media (max-width: 767px) {
  .header__top-menu ul {
    text-align: center; } }

.header__top-menu ul li {
  display: inline-block;
  margin-right: 15px; }
  @media (max-width: 767px) {
    .header__top-menu ul li {
      margin-right: 7px; } }
  .header__top-menu ul li a {
    color: #ffffff;
    font-size: 12px;
    padding: 12px 0;
    display: block; }
    .header__top-menu ul li a:hover {
      color: /*#f70d28*/#9a36c7; }

.header__social {
  line-height: 1; }
  @media (max-width: 767px) {
    .header__social {
      margin-bottom: 15px; } }
  .header__social a {
    color: #ffffff;
    font-size: 12px;
    margin-left: 15px; }

.header__menu ul li {
  display: inline-block;
  position: relative; }
  .header__menu ul li a {
    color: #ffffff;
    padding: 20px 18px;
    line-height: 1;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    display: block;
    font-weight: 500;
    position: relative; }
    .header__menu ul li a::before {
      background: /*#f70d28*/#9a36c7;
      height: 6px;
      width: 100%;
      content: "";
      top: -6px;
      left: 0;
      position: absolute;
      border-radius: 3px 8px 0px 0px;
      opacity: 0;
      -webkit-transition: all 0.2s ease-out 0s;
      -moz-transition: all 0.2s ease-out 0s;
      -ms-transition: all 0.2s ease-out 0s;
      -o-transition: all 0.2s ease-out 0s;
      transition: all 0.2s ease-out 0s; }
  .header__menu ul li:hover > a, .header__menu ul li.active > a {
    background: /*#f70d28*/#9a36c7; }
  .header__menu ul li:hover > a::before, .header__menu ul li.active > a::before {
    opacity: 1; }
  .header__menu ul li ul.submenu {
    width: 200px;
    position: absolute;
    top: 110%;
    right: 0;
    background: #1c1c21;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
    -webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    -ms-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s; }
    .header__menu ul li ul.submenu li {
      display: block;
      border-bottom: 1px solid #333; }
      .header__menu ul li ul.submenu li:last-child {
        border-bottom: 0; }
      .header__menu ul li ul.submenu li a {
        padding: 14px 12px;
        font-size: 13px; }
        .header__menu ul li ul.submenu li a:before {
          display: none; }
      .header__menu ul li ul.submenu li ul.submenu {
        left: 100%;
        top: 0;
        opacity: 0;
        visibility: hidden; }
      .header__menu ul li ul.submenu li:hover > ul.submenu {
        opacity: 1;
        visibility: visible; }
  .header__menu ul li:hover ul.submenu {
    opacity: 1;
    visibility: visible;
    top: 100%; }

.header__right-icon {
  line-height: 1; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .header__right-icon.f-right {
      float: none; } }
  @media (max-width: 767px) {
    .header__right-icon.f-right {
      float: none; } }
  .header__right-icon a {
    color: #ffffff;
    font-size: 14px;
    margin-left: 30px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .header__right-icon a:first-child {
        margin-left: 0; } }
    @media (max-width: 767px) {
      .header__right-icon a:first-child {
        margin-left: 0; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header__menu-area {
    padding: 5px 0; } }

.menu__border {
  border-top: 1px solid #eee; }

.header__menu-white ul li a {
  color: #1c1c21; }
  .header__menu-white ul li a:before {
    display: none; }

.header__menu-white ul li:hover > a, .header__menu-white ul li.active > a {
  color: /*#f70d28*/#9a36c7;
  background: transparent; }

.header__menu-white ul li ul.submenu li a {
  color: #ffffff; }

.header__menu-white ul li ul.submenu li:hover > a, .header__menu-white ul li ul.submenu li.active > a {
  color: /*#f70d28*/#9a36c7; }

.header__menu-white ul li ul.submenu li:hover > ul.submenu {
  opacity: 1;
  visibility: visible; }

.header__menu-white ul li:first-child a {
  padding-left: 0; }

.header__menu-black ul li a {
  color: #1c1c21; }

.header__menu-black ul li:hover > a, .header__menu-black ul li.active > a {
  background: /*#f70d28*/#9a36c7;
  color: #ffffff; }

.header__menu-black ul li:hover > a::before, .header__menu-black ul li.active > a::before {
  opacity: 1; }

.header__menu-black ul li ul.submenu li a {
  color: #ffffff;
  background: transparent; }

.header__menu-black ul li ul.submenu li:hover > a, .header__menu-black ul li ul.submenu li.active > a {
  color: /*#f70d28*/#9a36c7; }

.header__menu-black ul li ul.submenu li:hover > ul.submenu {
  opacity: 1;
  visibility: visible; }

.header__icon-black {
  line-height: 1; }
  .header__icon-black a {
    color: #1c1c21; }
    .header__icon-black a:hover {
      color: /*#f70d28*/#9a36c7; }

.header-top-border {
  border-bottom: 1px solid #e9e9e9; }

.top-menu-black ul li a {
  color: #666; }

.header-date {
  margin-top: 7px; }
  .header-date span {
    font-size: 13px; }

@media (max-width: 767px) {
  .header-social-black.f-right {
    float: none;
    text-align: center; } }

.header-social-black a {
  color: #666; }
  .header-social-black a:hover {
    color: /*#f70d28*/#9a36c7; }

@media (max-width: 767px) {
  .top-form {
    display: none; } }

.top-form form {
  position: relative;
  width: 190px; }

.top-form input {
  width: 100%;
  height: 42px;
  background: #1c1c21;
  border: 0;
  padding: 0 15px; }
  .top-form input::placeholder {
    color: #ffffff;
    opacity: .6; }

.top-form button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 40px;
  border: 0;
  background: no-repeat;
  color: #ddd; }

/* extra info */
.extra-info {
  background: #222 none repeat scroll 0 0;
  height: 100%;
  padding: 30px;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.7s ease 0s;
  width: 360px;
  z-index: 999;
  overflow-y: scroll;
  transform: translateX(100%); }
  @media (max-width: 767px) {
    .extra-info {
      width: 300px;
      padding: 15px; } }

.extra-info.info-open {
  transform: translateX(0); }

.extra-info-left {
  right: inherit;
  left: 0;
  transform: translateX(-100%); }

.extra-info.extra-info-left.info-open {
  transform: translateX(0); }

.close-icon {
  margin-top: -16px;
  text-align: right; }

.social-icon-right {
  border-bottom: 1px solid #444;
  padding-bottom: 20px;
  margin-bottom: 30px; }

.close-icon > button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  color: #ddd;
  cursor: pointer;
  font-size: 20px;
  padding: 0; }

.social-icon-right > a {
  color: #999;
  display: inline-block;
  margin-right: 12px; }

.social-icon-right > a:hover {
  color: /*#f70d28*/#9a36c7; }

.side-menu {
  border-bottom: 1px solid #444;
  padding-bottom: 12px; }

.side-menu ul li {
  margin-bottom: 15px; }

.side-menu ul li a {
  color: #ddd;
  font-size: 14px; }

.side-menu ul li:hover a {
  color: /*#f70d28*/#9a36c7; }

#search-modal {
  background-color: rgba(23, 26, 33, 0.95); }

#search-modal .modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: none;
  outline: 0; }

#search-modal .modal-dialog .modal-content {
  background: 0 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none; }

#search-modal .modal-dialog .modal-content form {
  width: 555px;
  position: relative; }
  @media (max-width: 767px) {
    #search-modal .modal-dialog .modal-content form {
      width: 300px; } }

#search-modal .modal-dialog .modal-content form input {
  width: 100%;
  font-size: 36px;
  border: none;
  border-bottom: 3px solid rgba(255, 255, 255, 0.1);
  background: 0 0;
  color: #fff;
  padding-bottom: 12px;
  padding-right: 40px; }

#search-modal .modal-dialog .modal-content form input::-moz-placeholder {
  font-size: 35px;
  color: #666; }
  @media (max-width: 767px) {
    #search-modal .modal-dialog .modal-content form input::-moz-placeholder {
      font-size: 25px; } }

#search-modal .modal-dialog .modal-content form input::placeholder {
  font-size: 35px;
  color: #666; }
  @media (max-width: 767px) {
    #search-modal .modal-dialog .modal-content form input::placeholder {
      font-size: 25px; } }

#search-modal .modal-dialog .modal-content form button {
  position: absolute;
  right: 0;
  margin-bottom: 3px;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.5);
  background: 0 0;
  border: none;
  cursor: pointer;
  top: 11px; }

.white__header .mean-container a.meanmenu-reveal {
  border: 1px solid #1c1c21;
  color: #1c1c21; }
  .white__header .mean-container a.meanmenu-reveal span {
    background: #1c1c21; }

.header__top-search {
  padding-left: 70px; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .header__top-search {
      padding-left: 0px; } }
  @media (max-width: 767px) {
    .header__top-search {
      padding-left: 0px;
      margin-bottom: 30px; } }
  .header__top-search form {
    position: relative; }
    .header__top-search form input {
      width: 100%;
      height: 40px;
      border: 0;
      padding: 0 15px;
      background-color: #642184;
      /*background-color: #cc2121;*/
      box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
      color: #fff;
     }
      .header__top-search form input::placeholder, .header__top-search form input::-moz-placeholder {
        color: #ffffff;
        opacity: .7; }
.header__top-search form input::placeholder {
  color: #fff;
  font-size: 14px;
  opacity: .8; }
    .header__top-search form button {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 50px;
      border: 0;
      background: no-repeat;
      color: #ffffff;
      font-size: 12px; }

.header-red ul li a {
  padding: 30px 18px; }
  .header-red ul li a:before {
    display: none; }

.header-red ul li:hover > a, .header-red ul li.active > a {
  background: transparent;
  opacity: .8; }

.header-red ul li ul.submenu li a {
  color: #ffffff; }

.header-red ul li ul.submenu li:hover > a, .header-red ul li ul.submenu li.active > a {
  color: /*#f70d28*/#9a36c7; }

.header-red ul li ul.submenu li:hover > ul.submenu {
  opacity: 1;
  visibility: visible; }

.header-red ul li:first-child a {
  padding-left: 0; }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-red-icon {
    margin-top: 18px; } }

@media (max-width: 767px) {
  .header-red-icon {
    margin-top: 18px; } }

/*
  Docs at http://http://simpleweatherjs.com

  Look inspired by http://www.degreees.com/
  Used for demo purposes.

  Weather icon font from http://fonts.artill.de/collection/artill-weather-icons

  DO NOT hotlink the assets/font included in this demo. If you wish to use the same font icon then download it to your local assets at the link above. If you use the links below odds are at some point they will be removed and your version will break.
*/
@font-face {
  font-family: 'weather';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf") format("truetype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg") format("svg");
  font-weight: normal;
  font-style: normal; }

#weather {
  text-align: right;
  text-transform: uppercase;
  line-height: 1; }

#weather i {
  color: #444;
  font-family: weather;
  font-size: 70px;
  font-weight: normal;
  font-style: normal;
  line-height: 0;
  text-transform: none; }

.icon-0:before {
  content: ":"; }

.icon-1:before {
  content: "p"; }

.icon-2:before {
  content: "S"; }

.icon-3:before {
  content: "Q"; }

.icon-4:before {
  content: "S"; }

.icon-5:before {
  content: "W"; }

.icon-6:before {
  content: "W"; }

.icon-7:before {
  content: "W"; }

.icon-8:before {
  content: "W"; }

.icon-9:before {
  content: "I"; }

.icon-10:before {
  content: "W"; }

.icon-11:before {
  content: "I"; }

.icon-12:before {
  content: "I"; }

.icon-13:before {
  content: "I"; }

.icon-14:before {
  content: "I"; }

.icon-15:before {
  content: "W"; }

.icon-16:before {
  content: "I"; }

.icon-17:before {
  content: "W"; }

.icon-18:before {
  content: "U"; }

.icon-19:before {
  content: "Z"; }

.icon-20:before {
  content: "Z"; }

.icon-21:before {
  content: "Z"; }

.icon-22:before {
  content: "Z"; }

.icon-23:before {
  content: "Z"; }

.icon-24:before {
  content: "E"; }

.icon-25:before {
  content: "E"; }

.icon-26:before {
  content: "3"; }

.icon-27:before {
  content: "a"; }

.icon-28:before {
  content: "A"; }

.icon-29:before {
  content: "a"; }

.icon-30:before {
  content: "A"; }

.icon-31:before {
  content: "6"; }

.icon-32:before {
  content: "1"; }

.icon-33:before {
  content: "6"; }

.icon-34:before {
  content: "1"; }

.icon-35:before {
  content: "W"; }

.icon-36:before {
  content: "1"; }

.icon-37:before {
  content: "S"; }

.icon-38:before {
  content: "S"; }

.icon-39:before {
  content: "S"; }

.icon-40:before {
  content: "M"; }

.icon-41:before {
  content: "W"; }

.icon-42:before {
  content: "I"; }

.icon-43:before {
  content: "W"; }

.icon-44:before {
  content: "a"; }

.icon-45:before {
  content: "S"; }

.icon-46:before {
  content: "U"; }

.icon-47:before {
  content: "S"; }

#weather h2 {
  margin: 0;
  color: #444;
  font-size: 35px;
  font-weight: 600; }

#weather ul {
  margin: 0;
  padding: 0; }

#weather li {
  font-size: 14px; }

#weather .currently {
  margin: 0 20px; }

.black-icon.mean-container a.meanmenu-reveal {
  border: 1px solid #222;
  color: #222; }

.black-icon.mean-container a.meanmenu-reveal span {
  background: #222; }

/* 4. Hero */
.hero__thumb img {
  width: 100%; }

.hero__text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px 28px; }
  .hero__text h3 {
    margin: 0;
    font-size: 26px;
    font-weight: 500; }
    @media (max-width: 767px) {
      .hero__text h3 {
        font-size: 18px; } }
    .hero__text h3 a {
      color: #ffffff; }
      .hero__text h3 a:hover {
        color: /*#f70d28*/#9a36c7; }
    @media only screen and (min-width: 992px) and (max-width: 1200px) {
      .hero__text h3.pr-100 {
        padding-right: 0; } }
    @media (max-width: 767px) {
      .hero__text h3.pr-100 {
        padding-right: 0; } }
  .hero__text-small h3 {
    font-size: 16px; }

.slide-height {
  min-height: 730px; }
  @media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .slide-height {
      min-height: 500px; } }
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .slide-height {
      min-height: 600px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .slide-height {
      min-height: 500px; } }
  @media (max-width: 767px) {
    .slide-height {
      min-height: 530px; } }

.slider__text h3 {
  font-size: 40px;
  font-weight: 600;
  color: #ffffff; }
  .slider__text h3:hover {
    color: /*#f70d28*/#9a36c7; }
  @media (max-width: 767px) {
    .slider__text h3 {
      font-size: 32px; } }

.slider-meta li {
  color: #aeaeae; }

.slider-arrow button.slick-arrow {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  background: none;
  border: 0;
  width: 60px;
  font-size: 25px;
  padding: 0;
  color: #ffffff;
  z-index: 9;
  border-radius: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  height: 50px;
  border: 2px solid #ffffff; }

.slider-arrow button.slick-next {
  left: auto;
  right: 30px; }

.slider-arrow:hover button {
  opacity: 1;
  visibility: visible; }

.slider-arrow button:hover {
  background: /*#f70d28*/#9a36c7;
  color: #ffffff;
  border-color: /*#f70d28*/#9a36c7; }

.slider-active-stage .single-slider:before {
  display: none; }

.slider-active-stage .single-slider.slick-center:before {
  display: block; }

.slider-active-stage .slider {
  display: none; }

.slider-active-stage .slick-center .slider {
  display: block; }

/* 5. News */
.breaking__meta ul li {
  display: inline-block;
  margin-right: 25px;
  font-size: 13px; }
  @media (max-width: 767px) {
    .breaking__meta ul li {
      margin-right: 15px; } }
  .breaking__meta ul li i {
    margin-right: 7px;
    color: /*#f70d28*/#9a36c7; }

.breaking__wrapper {
  position: relative;
  border: 1px solid #ddd; }
  .breaking__wrapper .breaking__title {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    background: /*#f70d28*/#9a36c7;
    padding: 15px 35px;
    color: #ffffff;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    z-index: 9;
    line-height: 1.2; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .breaking__wrapper .breaking__title {
        display: block;
        position: static; } }
    @media (max-width: 767px) {
      .breaking__wrapper .breaking__title {
        display: block;
        position: static; } }
  .breaking__wrapper .breaking__ticker-active {
    padding: 10px 25px 12px 205px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .breaking__wrapper .breaking__ticker-active {
        padding-left: 15px; } }
    @media (max-width: 767px) {
      .breaking__wrapper .breaking__ticker-active {
        padding-left: 15px; } }
    .breaking__wrapper .breaking__ticker-active li a {
      line-height: 1;
      font-size: 14px; }
    .breaking__wrapper .breaking__ticker-active .owl-nav div {
      color: #1c1c21;
      position: absolute;
      right: 10px;
      top: 9px; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .breaking__wrapper .breaking__ticker-active .owl-nav div {
          top: -36px;
          color: #ffffff; } }
      @media (max-width: 767px) {
        .breaking__wrapper .breaking__ticker-active .owl-nav div {
          top: -36px;
          color: #ffffff; } }
    .breaking__wrapper .breaking__ticker-active .owl-nav div.owl-prev {
      right: 30px; }

.post-cat {
  display: inline-block; }
  .post-cat a {
    background: /*#f70d28*/#9a36c7;
    padding: 4px 15px;
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 2px; }
    .post-cat a.color1 {
      background: #f2709c; }
    .post-cat a.color2 {
      background: #d39d38; }
    .post-cat a.color3 {
      background: #e100ff; }
    .post-cat a.color4 {
      background: #348ac7; }
    .post-cat a.color5 {
      background: #8dc26f; }
    .post-cat a.color6 {
      background: #5b86e5; }
    .post-cat a.color8 {
      background: #4135bf; }
    .post-cat a.color9 {
      background: #45a247; }
    .post-cat a.color10 {
      background: #8e44ad; }
    .post-cat a.color11 {
      background: #c779d0; }
    .post-cat a.color11 {
      background: #f2994a; }
    .post-cat a.color12 {
      background: #6190e8; }
    .post-cat a.color13 {
      background: #43c6ac; }
  .post-cat.r-0 a {
    border-radius: 0;
    padding: 4px 14px; }

.post-absolute {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px; }

.sm-cat {
  line-height: 1; }
  .sm-cat a {
    font-size: 12px;
    text-transform: capitalize; }

.postbox__thumb {
  position: relative; }
  .postbox__thumb a img {
    width: 100%; }
    @media (max-width: 767px) {
      .postbox__thumb a img {
        width: 100%; } }

.postbox__text-meta ul {
  line-height: 1; }
  .postbox__text-meta ul li {
    display: inline-block;
    font-size: 12px;
    margin-right: 10px;
    text-transform: uppercase; }
    .postbox__text-meta ul li i {
      margin-right: 4px; }

.postbox__text h4 {
  font-size: 14px;
  font-weight: 500; }
  .postbox__text h4.title-30 {
    font-size: 30px; }
  .postbox__text h4.title-24 {
    font-size: 24px; }
  .postbox__text h4.title-22 {
    font-size: 22px; }
  .postbox__text h4.title-20 {
    font-size: 20px; }
  .postbox__text h4.title-18 {
    font-size: 18px; }
  .postbox__text h4.title-16 {
    font-size: 16px; }
  .postbox__text h4.title-13 {
    font-size: 13px; }
  .postbox__text h4.font-600 {
    font-weight: 600; }
  .postbox__text h4 a {
    color: #212428; }
    .postbox__text h4 a:hover {
      color: /*#f70d28*/#9a36c7; }

.post__small {
  overflow: hidden; }
  .post__small-text {
    line-height: 1; }
    .post__small-text h4 {
      font-weight: 600;
      margin-top: 6px; }
      .post__small-text h4:hover {
        color: /*#f70d28*/#9a36c7; }
      .post__small-text h4.title-13 {
        font-size: 13px; }
      .post__small-text h4.title-14 {
        font-size: 14px; }
      .post__small-text h4.title-16 {
        font-size: 16px;
        font-weight: 500; }
    .post__small-text-meta ul li {
      font-size: 11px; }
      .post__small-text-meta ul li i {
        color: /*#f70d28*/#9a36c7;
        margin-right: 4px; }

.side-post h3 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 18px; }

.side-post .post__small-thumb img {
  width: 90px; }

.side-post .post__small-text .sm-cat {
  color: #ddd; }

.side-post .post__small-text h4 {
  color: #ddd; }
  .side-post .post__small-text h4:hover {
    color: /*#f70d28*/#9a36c7; }

.side-post .post__small-text .post__small-text-meta ul li {
  color: #ddd; }

.video-play {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  transform: translateY(-50%); }
  .video-play a {
    background: /*#f70d28*/#9a36c7;
    height: 35px;
    width: 35px;
    display: inline-block;
    color: #ffffff;
    border-radius: 50%;
    line-height: 35px;
    font-size: 12px; }

.post__features {
  position: relative; }
  .post__features:after {
    position: absolute;
    content: "";
    border: 1px dashed #ffffff;
    top: 0;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px; }
  .post__features-thumb img {
    width: 100%; }
  .post__features-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px;
    z-index: 9; }
    .post__features-content h4 {
      font-size: 15px;
      color: #ffffff;
      font-weight: 500; }
      .post__features-content h4.title-24 {
        font-size: 24px;
        font-weight: 600; }
      .post__features-content h4 a:hover {
        opacity: .5; }
  .post__features-author span {
    font-size: 12px;
    color: #ffffff; }

.meta-top {
  margin-bottom: 5px; }
  .meta-top span {
    font-size: 12px;
    color: #666;
    text-transform: uppercase; }

.red-meta ul li span {
  color: #ffffff; }

.red-meta ul li i {
  color: /*#f70d28*/#9a36c7; }

.content-pad {
  padding: 30px; }

.border {
  border: 1px solid #e9e9e9; }

.title-theme h2 {
  background: /*#f70d28*/#9a36c7;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  padding: 12px 25px;
  text-transform: uppercase;
  border-radius: 5px;
  line-height: 1;
  margin: 0; }

.news-tabs li a {
  color: #8a8a8a;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase; }
  .news-tabs li a.active, .news-tabs li a:hover {
    color: /*#f70d28*/#9a36c7; }

.blog-no-border:after {
  display: none; }

.border-dashed {
  border: 1px dashed #e9e9e9;
  padding: 30px; }

.pos-static {
  position: static; }
.post-content img {
  display: block;
  margin: 1rem 0;
}
.post-content-sm {
  padding: 15px; }
  .post-content-sm h4 {
    font-size: 13px;
    margin: 0; }

.post-sm-gallery .owl-nav div {
  position: absolute;
  height: 30px;
  width: 30px;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  text-align: center;
  line-height: 30px;
  color: #444;
  transition: .3s; }
  .post-sm-gallery .owl-nav div:hover {
    background: /*#f70d28*/#9a36c7;
    color: #ffffff; }
  .post-sm-gallery .owl-nav div.owl-next {
    left: auto;
    right: 30px; }

.category-wrapper {
  padding: 50px;
  padding-top: 250px; }
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .category-wrapper {
      padding-top: 150px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .category-wrapper {
      padding-top: 100px; } }
  @media (max-width: 767px) {
    .category-wrapper {
      padding: 25px;
      padding-top: 100px; } }
  .category-wrapper h1 {
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    padding-right: 150px;
    line-height: 1.3; }
    @media only screen and (min-width: 992px) and (max-width: 1200px) {
      .category-wrapper h1 {
        padding-right: 80px;
        font-size: 25px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .category-wrapper h1 {
        padding-right: 0px;
        font-size: 25px; } }
    @media (max-width: 767px) {
      .category-wrapper h1 {
        padding-right: 0px;
        font-size: 20px; } }

.cat-heading h1 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  color: /*#f70d28*/#9a36c7;
  margin: 0; }

.cat-gallery a i {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  z-index: 99;
  font-size: 16px;
  text-align: center;
  border: 2px solid red;
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: auto;
  color: /*#f70d28*/#9a36c7;
  border-radius: 50%;
  line-height: 46px;
  background: #ffffff; }

.cat-gallery .owl-nav div {
  position: absolute;
  height: 30px;
  width: 30px;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  text-align: center;
  line-height: 30px;
  color: #444;
  transition: .3s; }
  .cat-gallery .owl-nav div:hover {
    background: /*#f70d28*/#9a36c7;
    color: #ffffff; }
  .cat-gallery .owl-nav div.owl-next {
    left: auto;
    right: 30px; }

.read-more {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 14px; }
  .read-more:hover {
    color: /*#f70d28*/#9a36c7; }

/* 6. Breadcrumb */
.breadcrumb {
  background: #f7f7fd;
  border-radius: 0;
  padding: 50px 0;
  margin: 0; }
  .breadcrumb li {
    font-size: 14px;
    color: #999; }
    .breadcrumb li a {
      font-size: 14px;
      color: #666; }
      .breadcrumb li a:hover {
        color: /*#f70d28*/#9a36c7; }

.breadcrumb-item + .breadcrumb-item::before {
  content: "-";
  font-size: 13px; }

/* 7. Post details */
.widget-border {
  border: 1px solid #e9e9e9;
  padding: 30px; }
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .widget-border {
      padding: 15px; } }

.widget-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 18px;
  border-bottom: 1px solid #e9e9e9; }

.widget-subscribe input {
  width: 100%;
  height: 48px;
  border: 1px solid #e9e9e9;
  margin-bottom: 15px;
  padding: 0 12px; }

.tagcloud a {
  color: #666;
  border: 1px solid #e9e9e9;
  font-size: 13px;
  padding: 10px 15px;
  display: inline-block;
  line-height: 1;
  margin-bottom: 9px;
  margin-right: 7px; }
  .tagcloud a:hover {
    background: #1c1c21;
    border-color: #1c1c21;
    color: #ffffff; }

.widget ul li {
  margin-bottom: 10px; }
  .widget ul li:last-child {
    margin: 0; }
  .widget ul li::after {
    content: "\f30a";
    font-family: "Font Awesome 5 Free";
    margin-left: 8px;
    font-weight: 700;
    font-size: 11px;
    position: relative;
    top: -1px; }
  .widget ul li a {
    font-size: 14px; }
    .widget ul li a span {
      float: right;
      color: #666; }
    .widget ul li a:hover {
      color: /*#f70d28*/#9a36c7; }

.post__small-text-meta li:before {
  display: none; }

.details-title {
  font-size: 32px;
  font-weight: 600; }

.share-post-link a {
  height: 45px;
  width: 45px;
  display: inline-block;
  color: #ffffff;
  text-align: center;
  line-height: 45px;
  font-size: 16px;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 5px; }
  .share-post-link a.facebook {
    background: #1f3d7c; }
  .share-post-link a.twitter {
    background: #008de4; }
  .share-post-link a.instagram {
    background: #f4513d; }
  .share-post-link a.dribbble {
    background: #1f3d7c; }
  .share-post-link a.pinterest {
    background: #990011; }
  .share-post-link a.google-plus {
    background: #df3520; }
  .share-post-link a:hover {
    opacity: .7; }

blockquote::before {
  content: "\f10d";
  font-family: "Font Awesome 5 Free";
  margin-left: 8px;
  font-weight: 700;
  font-size: 40px;
  top: 0;
  color: #EEEEEE;
  z-index: -1;
  right: 0; }

blockquote {
  margin: 25px 0 25px 0px;
  padding-right: 30px;
  position: relative;
  border-right: 6px solid #EEEEEE; }
  blockquote p {
    padding: 0;
    font-size: 24px;
    line-height: 1.4;
    font-weight: 500;
    color: #1c1c21; }
  blockquote footer {
    color: #666;
    font-weight: 500;
    position: relative;
    padding-right: 27px; }
    blockquote footer::before {
      content: "";
      height: 2px;
      width: 17px;
      top: 12px;
      right: 0;
      display: block;
      position: absolute;
      background: #888; }

.content__tags > span {
  font-size: 14px;
  margin-right: 5px;
  font-weight: 600; }

.content__tags-list a {
  border: 1px solid #e9e9e9;
  color: #444;
  display: inline-block;
  font-size: 12px;
  padding: 8px 15px;
  margin-bottom: 5px;
  font-weight: 600;
  text-transform: capitalize;
  margin-right: 5px; }
  .content__tags-list a:hover {
    border-color: #1c1c21;
    background: #1c1c21;
    color: #ffffff; }

.media-left {
  width: 150px; }
  .media-left a {
    display: inline-block; }

.author-meta {
  padding: 30px;
  border: 1px solid #eee; }
  .author-meta .media-body {
    padding-right: 18px; }
    @media (max-width: 767px) {
      .author-meta .media-body {
        padding-left: 0px;
        padding-top: 10px; } }
    .author-meta .media-body span a {
      color: #444;
      font-size: 18px;
      font-weight: 600;
      display: inline-block;
      margin-bottom: 3px; }
      .author-meta .media-body span a:hover {
        color: /*#f70d28*/#9a36c7; }
    .author-meta .media-body p {
      margin-bottom: 10px; }
  .author-meta .social a {
    color: #666;
    font-size: 14px;
    margin-right: 15px; }
    .author-meta .social a:hover {
      color: /*#f70d28*/#9a36c7; }

.s-content__nav a {
  font-size: 20px;
  line-height: 1.5;
  color: #1c1c21;
  font-weight: 600; }
  .s-content__nav a:hover {
    color: /*#f70d28*/#9a36c7; }

.s-content__nav span {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: #7e7e7e;
  margin-bottom: 12px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

/* blog comments */
.comments-avatar {
  float: right;
  width: 103px; }

.avatar-name {
  margin-bottom: 2px;
  overflow: hidden; }
  .avatar-name h5 {
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    margin-right: 10px; }
  .avatar-name span {
    color: #646464;
    font-size: 12px; }

.comments-box {
  margin-bottom: 50px; }

.comments-reply {
  padding-right: 80px; }
  @media (max-width: 767px) {
    .comments-reply {
      padding-right: 0px; } }

.comments-text {
  overflow: hidden;
  padding-right: 20px; }
  .comments-text p {
    color: #646464;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 15px; }
  .comments-text a {
    color: #444;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase; }
    .comments-text a:hover {
      color: /*#f70d28*/#9a36c7; }

.post-comments-form input {
  border: 1px solid #e6e6e6;
  height: 45px;
  margin-bottom: 25px;
  padding: 0 15px;
  width: 100%; }

.post-comments-form textarea {
  border: 1px solid #e6e6e6;
  height: 130px;
  margin-bottom: 25px;
  padding: 15px;
  width: 100%; }

/* 8. Portfolio area */
.portfolio-thumb {
  position: relative;
  overflow: hidden; }
  .portfolio-thumb img {
    width: 100%;
    transition: .3s; }
  .portfolio-thumb::before {
    background: #000;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 100%;
    z-index: 1; }
  .portfolio-thumb a {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    background: red;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    opacity: 0;
    z-index: 9;
    transform: translateY(-50%); }

.portfolio-wrapper:hover .portfolio-thumb::before {
  opacity: .85;
  visibility: visible; }

.portfolio-wrapper:hover .portfolio-thumb img {
  transform: scale(1.2) rotate(7deg); }

.portfolio-wrapper:hover .portfolio-thumb a {
  opacity: 1; }

.portfolio-wrapper {
  position: relative; }

.portfolio-menu > button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #3b3f42;
  cursor: pointer;
  font-weight: 600;
  margin: 0 3px;
  padding: 5px 15px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s; }
  .portfolio-menu > button:hover, .portfolio-menu > button.active {
    background: /*#f70d28*/#9a36c7;
    color: #ffffff; }

.portfolio-menu > button:focus {
  outline: 0 none; }

/* 9. Contact area */
.contact-form h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 40px; }

.contact-form input {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-color: currentcolor currentcolor #cccccf;
  border-image: none;
  border-style: none none solid;
  border-width: 0 0 1px;
  font-size: 13px;
  height: 50px;
  margin-bottom: 30px;
  width: 100%;
  border: 0;
  border: 1px solid #ddd;
  padding: 0 15px; }

.contact-form textarea {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-color: currentcolor currentcolor #cccccf;
  border-image: none;
  border-style: none none solid;
  border-width: 0 0 1px;
  height: 125px;
  margin-bottom: 30px;
  width: 100%;
  border: 1px solid #ddd;
  padding: 15px; }

.contact-info span {
  color: #646464;
  display: block;
  font-size: 17px;
  margin-bottom: 10px; }

.contact-info h2 {
  color: #414149;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px; }

.contact-meta-info h4 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px; }

.contact-meta-info P {
  margin-bottom: 0; }

#contact-map {
  height: 500px; }

/* 10. Footer */
.footer-bg {
  background: #212121; }

.subscribe-title h2 {
  color: #e5e5e5;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 7px;
  text-transform: uppercase;
  text-align: right;
  padding-right: 25px;
  padding-top: 4px; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .subscribe-title h2 {
      text-align: left; } }
  @media (max-width: 767px) {
    .subscribe-title h2 {
      text-align: left; } }

.subscribe-form form {
  position: relative; }
  .subscribe-form form input {
    width: 100%;
    background: no-repeat;
    border: 0;
    height: 35px;
    border-bottom: 1px solid #363636;
    color: #ffffff; }
.subscribe-form form input::placeholder {
  color: #fff;
  font-size: 14px;
  opacity: .8; }
  .subscribe-form form button {
    position: absolute;
    top: 0;
    left: 0;
    background: no-repeat;
    border: 0;
    height: 35px;
    cursor: pointer;
    text-transform: capitalize;
    color: #ddd;
    font-size: 14px; }
    .subscribe-form form button:hover {
      color: /*#f70d28*/#9a36c7; }

.subscribe-form form input::-moz-placeholder {
  color: #808080; }

.subscribe-separator {
  border-top: 1px solid #363636;
  border-bottom: 1px solid #363636; }

.footer-widget p {
  color: #9e9e9e;
  margin-bottom: 25px; }

.footer-social a {
  height: 35px;
  width: 35px;
  display: inline-block;
  color: #ffffff;
  text-align: center;
  line-height: 36px;
  font-size: 13px;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px; }
  .footer-social a.facebook {
    background: #1f3d7c; }
  .footer-social a.twitter {
    background: #008de4; }
  .footer-social a.instagram {
    background: #f4513d; }
  .footer-social a.dribbble {
    background: #1f3d7c; }
  .footer-social a.pinterest {
    background: #990011; }
  .footer-social a.google-plus {
    background: #df3520; }
  .footer-social a:hover {
    opacity: .7; }

.footer-widget h3 {
  color: #e5e5e5;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px; }

.footer-widget ul li {
  margin-bottom: 5px; }
  .footer-widget ul li:last-child {
    margin: 0; }
  .footer-widget ul li a {
    color: #9e9e9e;
    font-size: 13px; }
    .footer-widget ul li a i {
      margin-right: 5px; }
    .footer-widget ul li a:hover {
      color: #ffffff; }

.copyright-area {
  border-top: 1px solid #363636; }

.copyright p {
  margin: 0;
  color: #9e9e9e; }
